@import './App.scss';
@import './scss/style.scss';

//variables
@import './variable.scss';

//component
//navbar
@import './component/navbar.scss';
//modal detail
@import './component/detail-modal.scss';
//footer
@import './component/footer.scss';

//button action
@import './component/button-action.scss';

//auth pages
@import './pages/auth.scss';

//catalog pages
@import './pages/catalog.scss';

//error page
@import './pages/error.scss';

//modal dashboard
@import './component/modal-crud.scss';
//modal delete
@import './component/modal-delete.scss';

 
body {
  margin: 0px;
}
.App{
  position: absolute;
  font-family: $nunito;
  background-color: rgb(231, 231, 205);
  height: 100 vh;
  width: 100%;
}