.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: #c0d2d4;
  color: #555;
}

.header-container{
  background: #2ec2b0;
  padding:0;
  text-decoration: none;
}
.logo-style{
  color:blue;
  font-size: 3rem;
}
.nav-menu-item{
  margin-left: 20px;
}
.nav-menu-link{
  text-decoration: none;
  color: #483434;
}
.nav-menu-container{
  margin-left: auto;
}
.nav-collapse-style{
  display: flex;
  align-items: flex-end;
}
svg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-radius: 20%;
  border-width: 4px;
  border-color: #483434;
}
.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
}
.collections-style{
  text-align: center;
  color: chocolate;
  margin-top: 30px;
}
.item-card{
  border-radius: 20px;
  padding: 0 5px;
  border-style: none;
  margin: 30px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

}
.item-header{
  text-align: center;
  display: inline;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 10px;
  
}
.item-images{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 1 solid black;
  box-shadow: 3px 3px 19px -6px rgba(0,0,0,1);
  -webkit-box-shadow: 3px 3px 19px -6px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 19px -6px rgba(0,0,0,1);
}
.item-footer{
  text-align: center;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  font-size: 0.8em;

}
.img-modal-container{
  display: flex;
  justify-content: center;
}
.modal-content{
  border-radius: 20px;
}
.item-footer-modal{
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-top: 30px;
}
.item-btn{
  width: 5em;
  padding: 1px 6px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #577BC1;
  border-style: none;
}
.item-btn-modal{
  width: 10em;
}
